
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.4;
}


.header, .footer {
    background-color: green;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 1em; 
}


.content {
    background-color: blue;
    color: white;
    padding: 20px;
    min-height: 600px;
    margin: 0 5%;
    display: flex;
    flex-direction: column; 
}

.content h2 {
    font-size: 1.6em; 
    color: yellow;
}


.square {
    width: 100px;
    height: 100px;
    border: 8px solid white;
    border-radius: 25px 0 25px 0; 
    float: left; 
    margin: 0 15px 10px 0;
}

/* Список с отступами */
ul {
    list-style-type: none;
    padding: 0;
}

ul > li {
    margin-bottom: 10px;
}


table {
    border-collapse: collapse;
    width: 100%;
    margin: 0; 
}

td {
    border: 2px solid white;
    text-align: center;
    padding: 10px;
    width: 33%;
}

td.green {
    background-color: green;
    color: white;
}

td.red {
    background-color: red;
    color: white;
}


.content > section {
    flex: 1;
}


.main-content {
    margin-bottom: 20px;
}


.main-content {
    margin-bottom: 20px; 
}


.visuals-and-table {
    display: flex;
    justify-content: space-between; 
    gap: 20px; 
}


.visual-styles {
    flex: 1; 
}


.bottom-content {
    display: flex;
    flex-direction: column; 
    gap: 20px; 
}

.bottom-content-inner {
    display: flex; 
    gap: 20px; 
}

.bottom-content .narrow-table {
    width: auto; 
}

.table-container {
    display: block;
}


.image-container {
    display: block; 
    margin-left: auto;
}




/* Стилизация текста */
.red {
    color: red;
}

.cyan {
    color: cyan;
}

/* Стилизация ссылок */
a {
    color: red;
    text-decoration: none;
    font-weight: bold;
    display: block;
    text-align: center; /* Центрирование ссылки */
    margin-top: 20px; /* Отступ сверху */
}

p {
    margin: 10px 0;
}

i, b, u {
    display: inline-block;
    margin: 5px 0;
}

u {
    text-decoration: underline;
}

s {
    text-decoration: line-through;
}
